<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>水费</string>
		<key>image</key>
		<string>shuifei</string>
		<key>companys</key>
		<array>
			<dict>
				<key>id</key>
				<string>000001</string>
				<key>title</key>
				<string>重庆水利集团</string>
			</dict>
			<dict>
				<key>id</key>
				<string>000002</string>
				<key>title</key>
				<string>重庆水利公司</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>热费</string>
		<key>image</key>
		<string>refei</string>
		<key>companys</key>
		<array>
			<dict>
				<key>id</key>
				<string>000001</string>
				<key>title</key>
				<string>重庆热力集团</string>
			</dict>
			<dict>
				<key>id</key>
				<string>000002</string>
				<key>title</key>
				<string>重庆热力公司</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>燃气费</string>
		<key>image</key>
		<string>ranqifei</string>
		<key>companys</key>
		<array>
			<dict>
				<key>id</key>
				<string>000001</string>
				<key>title</key>
				<string>重庆燃气集团</string>
			</dict>
			<dict>
				<key>id</key>
				<string>000002</string>
				<key>title</key>
				<string>重庆燃气公司</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>电费</string>
		<key>image</key>
		<string>dianfei</string>
		<key>companys</key>
		<array>
			<dict>
				<key>id</key>
				<string>000001</string>
				<key>title</key>
				<string>重庆电力集团</string>
			</dict>
			<dict>
				<key>id</key>
				<string>000002</string>
				<key>title</key>
				<string>重庆电力公司</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>物业费</string>
		<key>image</key>
		<string>wuye</string>
		<key>companys</key>
		<array>
			<dict>
				<key>id</key>
				<string>000001</string>
				<key>title</key>
				<string>重庆物业集团</string>
			</dict>
			<dict>
				<key>id</key>
				<string>000002</string>
				<key>title</key>
				<string>重庆物业公司</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
